/*@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../Roboto-Regular.ttf') format('ttf');
  }
*/

@font-face {
    font-family: 'Roboto';
    src: url('../Roboto-Regular.ttf');
}

* {
    box-sizing: border-box;
}

h2 {
    color: #e6e6e6;
    margin: 0.6em auto 0.2em auto;
}

h3 {
    color: #e6e6e6;
    display: inline;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    font-family: 'Roboto', sans-serif;
}

#header {
    position: sticky;
    top: 0;
    width: 100vw;
    background-color: #1a1a1a;
    z-index: 99;
}

#selectorsWrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 4em 0;
    text-align: center;
    display: flex;
    overflow: visible;
    height: fit-content;
}

#selectorsWrapperInner {
    display: flex;
    max-width: fit-content;
    margin: 0 auto;
}

#selectorsWrapperLeft {
    display: inline-block;
}

#selectorsWrapperLeft {
    display: inline-block;
}

#playlistButtons {
    margin: 0 auto;
    padding: 1em;
    max-width: fit-content;
}

#playlistContainer {
    background-color: #404040;
    border-radius: 20px;
    width: 90vw;
    margin: 0 auto;
    color: #e6e6e6;
    padding-bottom: 0.2em;
}

#playlistHeader {
    text-align: center;
    padding-top: 0.1em;
    margin-bottom: 20px;
    color: #e6e6e6;
}

.trackContainer {
    padding: 1em 1em;
}

.trackContent {
    margin: 1em 0;
}

.trackName {
    display: inline;
}

.trackPause {
    margin-left: 1em;
    display: inline;
    background-color: #808080;
    border: none;
    border-radius: 10px;
    padding: 0.5em 1em;
}

.trackFileMain {
    margin-left: 0.2em;
    display: inline;
    background-color: #808080;
    border: none;
    border-radius: 10px;
    padding: 0.5em 1em;
}

.trackFileMetronome {
    margin-left: 0.2em;
    display: inline;
    background-color: #808080;
    border: none;
    border-radius: 10px;
    padding: 0.5em 1em;
}

.button {
    background-color: #404040;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: #e6e6e6;
    border: none;
    border-radius: 20px;
    padding: 1em;
}

.button:enabled:active {
    background-color: #808080;
}

.button:disabled {
    opacity: 0.5;
}

.button2 {
    background-color: #808080;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: #e6e6e6;
    border: none;
    border-radius: 10px;
    padding: 0.5em;
    margin: 0.1em;
}

.button3 {
    display: block;
    margin: 0.5em auto;
    background-color: #808080;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: #e6e6e6;
    border: none;
    border-radius: 20px;
    padding: 1em;
}

.button4 {
    background-color: #3333cc;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: #e6e6e6;
    border: none;
    border-radius: 10px;
    padding: 0.5em;
    margin: 0.1em;
}

.inputTrack {
    background-color: #ffffff;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    padding: 0.5em;
    margin: 0.1em;
}

.inputPause {
    background-color: #ffffff;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    padding: 0.5em;
    margin: 0.1em;
}

.inputPlaylist {
    background-color: #ffffff;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    padding: 0.5em;
    margin: 0.5em;
}

/* Dropdown menus: */
/*the container must be positioned relative:*/
.custom-select-main {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: inline-block;
    margin: 0 1.5em;
}

.custom-select-metronome {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: inline-block;
    margin: 0 1.5em;
}

.custom-select-main select {
    display: none; /*hide original SELECT element:*/
}

.custom-select-metronome select {
    display: none; /*hide original SELECT element:*/
}

.select-selected {
    background-color: #400080;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 32px 8px 16px;
    border: 2px solid;
    border-radius: 20px;
    border-color: transparent transparent rgba(54, 0, 99, 0.7) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #400080;
    border-radius: 20px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}