.jp-jplayer,.jp-audio {
    margin-left: 3em;
    width: 60%;
    height: 100%;
    display: inline-block;
}

.jp-type-single {
    height: 100%;
}

.jp-title {
    text-align: center;
    color: #999;
}
 
.jp-title ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.jp-gui {
  position: relative;
  background: #3333cc;
  overflow: hidden;
  border-radius: 30px;
  width: 100%;
  height: 80%;
}
.jp-controls {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
}

.jp-controls img {
    width: 35px;
    height: auto;
}
 
.jp-controls li {
    display: inline;
}
 
.jp-controls a {
    color: #fff;
}
.jp-play,.jp-pause {
    width: 80px;
    height: 100%;
    display: inline-block;
    text-align: center;
    padding: 1em 2em;
}
 
.jp-controls .jp-play:hover,.jp-controls .jp-pause:hover {
    background-color: #808080;
    cursor: default;
}
 
.jp-mute,.jp-unmute {
    position: absolute;
    right: 60px;
    top: 0;
    width: 40px;
    height: 45px;
    padding-top: 12px;
    padding-left: 10px;
    display: inline-block;
}

.jp-controls .jp-mute:hover,.jp-controls .jp-unmute:hover {
    background-color: #808080;
    cursor: default;
}
 
.jp-mute {
    text-align: left;
}
.jp-time-holder {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 14px;
    position: absolute;
    right: 1.2em;
    top: 1.2em;
}
.jp-progress {
    background-color: #262626;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    position: absolute;
    right: 7.5em;
    top: 1.5em;
    width: 13em;
}
 
.jp-play-bar {
    height: 1em;
    background-color: #6666CC;
    border-radius: 20px 20px 20px 20px;
}
 
.jp-volume-bar {
    position: absolute;
    right: 10px;
    top: 18px;
    width: 45px;
    height: 8px;
    border-radius: 20px 20px 20px 20px;
    background-color: #262626;
    overflow: hidden;
}
 
.jp-volume-bar-value {
    background-color: #6666CC;
    height: 10px;
    border-radius: 20px 20px 20px 20px;
}